html, body, #inicial{
	height: 100%;
	overflow-y: hidden;
}

html{
	cursor: url(imagens/mata_mosca.png) 30 30, auto;
}
body{
	background-image: url(imagens/bg.jpg);
	background-repeat: no-repeat;
	display: table;
	width: 100%;
	height: 100vh;
	background-position: 30% 45%;
	margin: 0;
	background-size: cover;
	font-family: Helvetica,Arial,sans-serif;
}

.mosquito0{
	width: 50px;
	height: 50px;
}

.mosquito1{
	width: 70px;
	height: 70px;
}
.mosquito2{
	width: 30px;
	height: 30px;
}

.lado0{
	transform: scaleX(1);
}
.lado1{
	transform: scaleX(-1);
}

.painel{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 300px;
	height: 130px;
	background: #fff;
	padding: 15px 15px 25px 20px;*/
	border-top: 1px solid #fff;
	opacity: 0.65;
	/*border-radius: 0 7px 0 0;*/
	
}
.vidas{
	/*float: left;*/
}

.cronometro{
	/*float: left;*/
	font-size: 20px;
	font-weight: bold;
}
.mortos{
	/*float: left;*/
	font-size: 20px;
	font-weight: bold;
}

.botao{
	width: 250px;
	opacity: 0.8;
}

.selecao{
	width: 250px;
}
.select{
	text-align: center;
}
.form-control{
	padding: 3px 24px 3px 46px !important;

}
@keyframes mover{
	0%{
		top:0px;
	}
	50%{
		top:40px;
	}
	100%{
		top:0px;
	}
}
#animacao_menu{
	position: relative;
	animation-name: mover;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}


footer .copyright p{
	font-weight: bold;
	font-size: 20px;
	/*padding: 5px;
	margin: 5px;*/
}

/*----------media queries------------*/


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

	/*.small{
		position: absolute;
		bottom: 500px;
		align-content: center;

	}*/
	.tamanho_imagem{
		width: 1200px;
		height: 900px;
		margin-top: 300px;
	}

	.tamanho_texto{
		font-size: 200px;
	}
	.botao{
		opacity: 1;
		height: 60px;
		width: 90%;
	}
	
	.selecao{
		width: 90%;
		font-size: 40px;
	}

	.mosquito0{
		width: 80px;
		height: 80px;
	}

	.mosquito1{
		width: 100px;
		height: 100px;
	}

	.mosquito2{
		width: 130px;
		height: 130px;
	}
	.form-control{
		padding: 3px 30px 3px 50px !important;
		font-size: 20px !important;
		text-align: center !important;
	}	
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	/*
	.small{
		position: absolute;
		bottom: 500px;
		align-content: center;
		
	}*/
	.tamanho_imagemMenu{
		width: 1000px;
		height: 900px;
		margin-top: 550px;
	}
	.tamanho_imagem{
		width: 1200px;
		height: 900px;
		margin-top: 300px;
	}

	.tamanho_texto{
		font-size: 200px;
	}

	.botao{
		opacity: 1;
		height: 50px;
		width: 95%;
	}	
	
	.selecao{
		width: 90%;
		text-align: center;
		font-size: 40px;
	}

	.mosquito0{
		width: 90px;
		height: 90px;
	}

	.mosquito1{
		width: 120px;
		height: 120px;
	}

	.mosquito2{
		width: 124px;
		height: 140px;
	}		

}

